<!DOCTYPE html>
<html>
 <head>
    <title>LoadedFiles </title>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 </head>

 <body>
    <h1>All Signals</h1>
    <div id="chart" class="chart" ></div>
    <form name="form1" action="/callback" method="POST" >
        <label for="xmin">xmin:</label> <input type="text" id='xmin' name="xmin"> <br>
        <label for="xmax">xmax:</label> <input type="text" id='xmax' name="xmax"> <br>
        <label for="ymin">ymin:</label> <input type="text" id='ymin' name="ymin"> <br>
        <label for="ymax">ymax:</label> <input type="text" id='ymax' name="ymax"> <br>
        <label for="dx">dx:</label> <input type="text" id='dx' name="dx"> <br>
       <label for="Leyenda">Insertar leyenda</label> <input type="checkbox" id="Leyenda" name="Leyenda"/><br>
        <label for="selectValues">Choose signal(s):</label>
        <select name='selectValues' id="selectValues" multiple >
        </select>
        <script>
            var select = document.getElementById("selectValues");
            var options = {{paramStr|safe}};
            for(var i = 0; i < options.length; i++) {
                var opt = options[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                select.appendChild(el);
            }
        </script>
      <input type="text" id='table_name' name="table_name" value={{table_name|safe}} ><br>
       <input type="submit" value="Refresh" >
     </form>

<h6><a href="/load_options">Return to load options</a></h6>

 </body>

 <script type='text/javascript'>
      var myPlot = document.getElementById('chart');
        graph={{graphJSON|safe}}
        Plotly.newPlot('chart',graph,{});
        myPlot.on('plotly_click', function(data){
             var pts = '';
             for(var i=0; i < data.points.length; i++){
                annotate_text = 'x = '+data.points[i].x +
                      'y = '+data.points[i].y.toPrecision(4);

                annotation = {
                    text: annotate_text,
                    x: data.points[i].x,
                    y: parseFloat(data.points[i].y.toPrecision(4))
                }

            annotations = self.layout.annotations || [];
            annotations.push(annotation);
            Plotly.relayout('chart',{annotations: annotations})
            }
        });
</script>



</html>
