<!DOCTYPE html>
<html>
 <head>
     <meta name="viewport" content="initial-scale=1, width=device-width">
     <title>Load Database </title>
 </head>

 <body>
     <label for="csvFile">Database:</label>
        <select name='varControl' id="varcontrol" >
            <option value="temp_inc">Temperatura incremental </option>
            <option value="temp_dec">Temperatura decremental </option>
            <option value="curv_inc">Curvatura incremental</option>
            <option value="curv_dec">Curvatura decremental</option>
        </select> <br>

    <p><input type="submit" value="Submit"></p>

 </body>
</html>
